<a href="#main-content" class="skip-to-main-link">{{lang 'header.skip_to_main'}}</a>

<header class="header{{#if theme_settings.haloStickyHeader}} header-sticky{{/if}}">

    {{#if theme_settings.halo_top_bar_promotion}}
        <div class="halo-top-bar-promotion">
            <div class="container"> 
                {{#if theme_settings.halo-top_bar_promotion-link}}
                    <a class="text" href="{{theme_settings.halo-top_bar_promotion-link}}">
                        {{theme_settings.halo-top_bar_promotion-text}}
                        <span>{{theme_settings.halo-top_bar_promotion-textLink}}</span>
                    </a>
                {{else}}
                    <p class="text">
                        {{theme_settings.halo-top_bar_promotion-text}}
                        <span>{{theme_settings.halo-top_bar_promotion-textLink}}</span>
                    </p>
                {{/if}}
            </div> 
        </div>
    {{/if}}
    <div class="halo-middleHeader">
        <div class="container">
            <div class="middleHeader-item text-left">
                <div class="items item--hamburger">
                    <a class="mobileMenu-toggle" href="#" data-mobile-menu-toggle="menu">
                        <span class="mobileMenu-toggleIcon">{{lang 'header.toggle_menu'}}</span>
                    </a>
                </div>
                <div class="items item--searchMobile">
                    <a class="navUser-action" href="#" data-search="quickSearch" aria-controls="quickSearch" aria-expanded="false" aria-label="{{lang 'search.quick_search.button_search'}}">
                        <div class="navUser-icon">
                            <svg class="icon" aria-hidden="true"><use xlink:href="#icon-search"></use></svg>
                        </div>
                    </a>
                </div>
            </div>
            <div class="middleHeader-item text-center">
                <div class="items item--logo">
                    {{#if page_type '===' 'default'}}
                        <h1 class="header-logo">
                            {{> components/common/store-logo}}
                        </h1>
                    {{else}}
                        <div class="header-logo">
                            {{> components/common/store-logo}}
                        </div>
                    {{/if}}
                </div>
            </div>
            <div class="middleHeader-item text-right">
                <div class="items item--quicksearch halo-search">
                    <div id="quickSearch" data-prevent-quick-search-close>
                        {{> components/common/quick-search}}
                    </div>
                </div>
                <div class="items item--account">
                   <div class="phone" onclick="copyPhoneNumber()">
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
        <path d="M3.62 7.79C5.06 10.62 7.38 12.93 10.21 14.38L12.41 12.18C12.68 11.91 13.08 11.82 13.43 11.94C14.55 12.31 15.76 12.51 17 12.51C17.55 12.51 18 12.96 18 13.51V17C18 17.55 17.55 18 17 18C7.61 18 0 10.39 0 1C0 0.45 0.45 0 1 0H4.5C5.05 0 5.5 0.45 5.5 1C5.5 2.25 5.7 3.45 6.07 4.57C6.18 4.92 6.1 5.31 5.82 5.59L3.62 7.79Z" fill="#0004FF"/>
    </svg>
    <span class="phone-number"><b>877-377-5555</b></span>
</div>

<style>
    .phone {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .phone svg {
        margin-right: 8px;
    }

    /* Hide phone number on screens narrower than 768px */
    @media (max-width: 1025px) {
        .phone-number ,.navUser-action .myAccountMobile {
            display: none;
        }
        
    }
</style>

<script>
    function copyPhoneNumber() {
        const phone = "877-377-5555";
        navigator.clipboard.writeText(phone).then(() => {
            alert("Phone number copied!");
        }).catch(err => {
            alert("Failed to copy phone number.");
            console.error(err);
        });
    }
</script>

                    <!--{{#if customer}}-->
                    <!--    <p class="myAccount">{{lang 'account.title'}}</p>-->
                    <!--    <div class="myAccount-link">-->
                    <!--        <a href="{{urls.account.index}}" data-login-form>{{customer.name}}.</a>-->
                    <!--    </div>-->
                    <!--    {{> components/halothemes/halo-account-popup data="account-pc"}}-->
                    <!--{{else}}-->
                    <!--    <p class="myAccount">{{lang 'account.title'}}</p>-->
                    <!--    <div class="myAccount-link">-->
                    <!--        <a href="{{urls.auth.login}}" data-login-form>-->
                    <!--            {{lang 'common.login'}}-->
                    <!--        </a>-->
                    <!--        <span>or</span>-->
                    <!--        <a href="{{urls.auth.create_account}}">-->
                    <!--            {{lang 'common.sign_up'}}-->
                    <!--        </a>-->
                    <!--    </div>-->
                    <!--    {{> components/halothemes/halo-login-popup data="login-pc" email_id="login_email" password_id="login_pass"}}-->
                    <!--{{/if}}-->
                    <a class="navUser-action myAccountMobile" {{#if customer}}href="{{urls.account.index}}"{{else}}href="{{urls.auth.login}}"{{/if}} data-login-form-mobile aria-label="{{lang 'account.title'}}">
                        <div class="navUser-icon">
                            <svg class="icon" aria-hidden="true"><use xlink:href="#icon-user"/></svg>
                        </div>
                    </a>
                </div>
                {{#if settings.show_wishlist}}
                    <div class="items item--wishlist">
                        <a class="navUser-action" href="{{urls.account.wishlists.all}}" aria-label="{{lang 'common.wish_lists'}}">
                            <div class="navUser-icon">
                                <svg class="icon" aria-hidden="true"><use xlink:href="#icon-heart"></use></svg>
                            </div>
                        </a>
                    </div>
                {{/if}}
                <div class="items item--cart halo-cart">
                    <a class="navUser-action cartDesktop"
                        data-cart-preview
                        data-options="align:right"
                        href="{{urls.cart}}"
                        aria-label="{{lang 'cart.nav_aria_label'}}">
                        <div class="navUser-icon navUser-item-cartIcon">
                            <svg class="icon" aria-hidden="true"><use xlink:href="#icon-cart"></use></svg><span class="countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity">{{cart.quantity}}</span>
                        </div>
                    </a>
                    <div class="dropdown-cart" id="cart-preview-dropdown" aria-hidden="true"></div>
                    <a class="navUser-action cartMobile" data-cart-preview2 href="/cart.php" aria-label="{{lang 'cart.nav_aria_label'}}">
                        <div class="navUser-icon navUser-item-cartIcon">
                            <svg class="icon" aria-hidden="true"><use xlink:href="#icon-cart"></use></svg>
                            <span class="countPill cart-quantity">{{#if cart.items}}{{cart.quantity}}{{else}}0{{/if}}</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="halo-bottomHeader" id="pc-bg-change">
        <div class="navPages-container" id="menu" data-menu>
            {{> components/common/navigation-menu}}
        </div>
    </div>
</header>
{{{region name="header_bottom--global"}}}
{{{region name="header_bottom"}}}

{{> components/halothemes/halo-topBottom-banner position = "top"}}
